<html>
<header><h1>I am waiting for the header</h1></header><br><br>
<head>
  <meta charset="UTF-8"/>
  <title>Bücher</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="verkauf.css"/>
</head>

<nav>
  <ol>
    <li><a href="../startseite/index.html">Startseite</a></li>
    <li aria-current="page">Bücher</li>
  </ol>
</nav>

<h1>Bücher</h1>
<h2>Leseratte? Hier findest du gebrauchte Bücher zu günstigen Preisen</h2>
<article class="text-center row mt-3">
<div class="card col-md-3 ml-4" style="width: 18rem;">
        <img src="img/Buecher/Sturm.gif" class="card-img-top">
        <div class="card-body">
        <h2 class="card-title">Ostfriesen STURM</h2>
        <p class="description">Der 16. Fall für Ostfrieslands Top-Ermittlerin Ann Kathrin Klaasen.</p>
        <p class="card-text">13€</p>
        </div>
        <div class="card-footer text-muted row">
        <a href=a href="Zahlung.html" class="btn btn-success">In den Warenkorb</a>
        </div>  
    </div>
  
    <div class="card col-md-3 ml-4" style="width: 18rem;">
      <img src="img/Buecher/WisoSteuer.gif" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title">WISO Steuer</h2>
          <p class="description">Steuererklärung einfach gemacht!</p>
          <p class="card-text">31,99€</p>
        </div>
        <div class="card-footer text-muted row">
            <a href="Zahlung.html" class="btn btn-success">In den Warenkorb</a>
        </div>  
    </div>
      
   <div class="card col-md-3 ml-4" style="width: 18rem;">
      <img src="img/Buecher/Blaubeerjahre.gif" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title">Blaubeerjahre</h2>
          <p class="description">Drei Schwestern, eine Blaubeerfarm und ein altes Geheimnis, das nun endlich ans Licht kommt.</p>
          <p class="card-text">10€</p>
        </div>
      <div class="card-footer text-muted row">
        <a href="Zahlung.html" class="btn btn-success">In den Warenkorb</a>
      </div>  
    </div>
  </article>
  <br><br>

<footer><h1>I am waiting for the footer</h1></footer>
</html>